<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <title>Dodaj nov blog</title>
</head>
<body>
    <div class="container-fluid">
        <main class="col-md-12 col-lg-12 p-5">
            <form action="/blog/createProcess" method="post" class="col-md-8 col-lg-3 p-2 m-auto">
                <div class="m-3">
                    <input class="form-control" name="title" placeholder="Unesite naziv" 
                    value="<%= modelInp.title %>"/>

                    <%if(typeof titleError!='undefined'){%>
                        <div class="h6 text-danger text-center"><%=titleError%></div>
                    <%}%>
                </div>
                <div class="m-3">
                    <textarea class="form-control" name="description" placeholder="Unesite opis"><%= modelInp.description %></textarea>
                    <%if(typeof descriptionError!='undefined'){%>
                        <div class="h6 text-danger text-center"><%=descriptionError%></div>
                    <%}%>
                </div>
                <div class="m-3">
                    <textarea class="form-control" name="location" placeholder="Unesite lokaciju"><%= modelInp.location %></textarea>
                    <%if(typeof locationError!='undefined'){%>
                        <div class="h6 text-danger text-center"><%=locationError%></div>
                    <%}%>
                </div>
                <div class="m-3">
                    <button type="submit" name="title" class="btn btn-primary">Posalji</button>
                    <a href="/" class="btn btn-primary">Vratite se</a>
                </div>
            </form>
        </main>
    </div>
</body>
</html>